<div class="title-container">
    <div class="title">Add Course</div>
    <div class="btn-container"></div>
</div>

<form class="add-course-form">
    <label class="label-name">Course Title</label>
    <mat-form-field class="form-control">
        <mat-label></mat-label>
        <input matInput placeholder="" value="">
    </mat-form-field>

    <label class="label-name">Course Description</label>
    <mat-form-field class="form-control">
        <mat-label></mat-label>
        <textarea matInput placeholder=""></textarea>
    </mat-form-field>

    <label class="label-name">Price</label>
    <mat-form-field class="form-control">
        <mat-label></mat-label>
        <input matInput placeholder="" value="">
    </mat-form-field>

    <div class="form-group-btn">
        <button class="btn">Add Course</button>
        <button class="btn-2">Cancel</button>
    </div>
</form>