.title-container {
    justify-content: space-between;
    display: flex;
    background-color: #062F68;
    width: 60%;
    margin: 0 auto;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-top: 48px;
}

.btn-container {
    margin: auto 0;
    padding-right: 40px;
}

.name-button {
    justify-content: flex-end;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #062F68;
    height: 40px;
    width: 140px;
    border: none;
    font-weight: 600;
}

.name-button:hover {
    cursor: pointer;
}

.action-icons {
    display: flex;
    flex-direction: row;
}

.delete-button,
.edit-button {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 20px;
    cursor: pointer;
}

.image-edit,
.image-delete {
    height: 20px;
}

::ng-deep .mat-row:nth-child(even) {
    background-color: red;
}

::ng-deep .mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    width: 60%;
    margin: 0 auto;
    box-shadow: none;
    border-radius: 10px;
}

::ng-deep .mat-mdc-table .mdc-data-table__header-row {
    background-color: #062F68;
    // border-radius: 10px !important;
}

::ng-deep .mdc-data-table__header-cell {
    color: #FFFFFF;
}

::ng-deep .mdc-data-table__table {
    border-radius: 10px !important;
}

::ng-deep .mat-mdc-table thead {
    border-radius: 10px;
}